# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Node module in these folder
/backend/node_modules/
/front/node_modules/
# IDE
/.idea/